<div class='featured_games'>
    <div class='game_card'>
        <img class='game_cover' src='https://images.igdb.com/igdb/image/upload/t_cover_small_2x/" + coverImage[0].image_id + ".jpg' alt='Cover image for" + game[0].name + "'>
        <div class='game_info'>
            <h3></h3>
            <h4 class='game_name'></h4>
            <h3></h3>
            <p class='game_summary'></p>
            <h3>Genres: </h3>
            <div class='game_genres'>
                <p class='genre_card'></p>
            </div>
        </div>
    </div>
</div>